.call-setting-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 아래로 정렬 */
  min-height: 100vh; /* 화면 전체 높이 */
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
  margin-bottom: 30px;
  padding: 0;
}

/* 외부 컨테이너 스타일 */
.call-setting-outer-container {
  padding: 24px;
  background-color: #fff4d1;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* 너비를 화면에 맞게 조절 */
  max-width: 480px; /* 최대 너비 제한 */
  padding: var(--spacing);
  margin: 0 auto; /* 가운데 정렬 */
  margin-bottom: 120px;
  box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */
}

/* CallSetting 내부 */
.call-setting-wrapper {
  text-align: center;
  width: 100%;
}

/* 버튼 컨테이너 */
.call-setting-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0;
}

/* 통화 옵션 버튼 */
.call-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* 아이콘과 텍스트 간격 */
  padding: 4px;
  margin: 0 auto;
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  border: 2px solid var(--color-button-border);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3rem;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  height: 70px;
  width: 60%;
}

.call-option:hover {
  background-color: rgba(75, 140, 90, 0.8);
}

/* 활성화된 버튼 */
.call-option.active {
  background-color: rgba(75, 140, 90, 0.6);
  border-color: #4f9456;
}

/* 아이콘 크기 */
.option-icon {
  height: 80%;
  width: auto;
}

/* 텍스트 스타일 */
.option-text {
  font-size: 130%;
}

/* 확인 버튼 */
.confirm-container {
  margin-top: 20px;
}

.confirm-button {
  padding: 12px 24px;
  border: 2px solid var(--color-button-border);
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: rgba(75, 140, 90, 0.8);
}
