.end-call-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--color-background-main);
  color: var(--color-text-main);
}

.end-call-screen h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.end-call-screen p {
  font-size: 1rem;
  color: var(--color-text-sub);
}
