.onboarding-container {
  max-width: 480px;
  margin: 0 auto;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  box-sizing: border-box;
}

.onboarding-image-container {
  text-align: center;
  margin-top: 0px;
}

.onboarding-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.onboarding-description {
  margin-top: 16px;
  font-size: 1rem;
  color: var(--color-text-sub);
  text-align: center;
}

.onboarding-login {
  text-align: center;
  margin-top: 0px;
}
