.onboarding-container {
  max-width: 480px; /* 모바일 기준 */
  margin: 0 auto;
  padding: var(--spacing);
  background-color: var(--color-background-main);
}

.onboarding-image-container {
  margin: 24px 0;
  text-align: center;
}

.onboarding-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.onboarding-description {
  margin-top: 16px;
  font-size: 1rem;
  color: var(--color-text-sub);
  text-align: center;
}

.onboarding-login {
  margin-top: 32px;
  text-align: center;
}
