/* App.css */

/* 테마 색상 */
:root {
  --color-background-main: #fffdf5;
  --color-header-background: #98c485;
  --color-text-main: #000000;
  --color-text-sub: #808080; /* 회색 */

  --color-title: #a78462;

  /* Container 1 */
  --color-container1-border: #7a7b2b;
  --color-container1-background: #fff4d1;

  /* Container 2 */
  --color-container2-border: #4f9456;
  --color-container2-background: #b1d3ae;

  /* Common Button */
  --color-button-border: #4f9456;
  --color-button-background: #b1d3ae;
  --color-button-text: #000000;

  --spacing: 16px;
  --font-family: 'Hakgyoansim Nadeuri', system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

@font-face {
  font-family: 'Hakgyoansim Nadeuri';
  src: url('./assets/fonts/Hakgyoansim Nadeuri OTF L.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hakgyoansim Nadeuri';
  src: url('./assets/fonts/Hakgyoansim Nadeuri TTF L.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hakgyoansim Nadeuri';
  src: url('./assets/fonts/Hakgyoansim Nadeuri OTF B.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hakgyoansim Nadeuri';
  src: url('./assets/fonts/Hakgyoansim Nadeuri TTF B.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* 전역 스타일 */
body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-background-main);
  color: var(--color-text-main);
}

.container {
  max-width: 480px; /* 모바일 화면 기준 */
  margin: 0 auto;
  padding: var(--spacing);
}

/* 공통 버튼 스타일 */
button {
  border-radius: 8px;
  border: 1px solid var(--color-button-border);
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  padding: 0.8em 1.2em;
  font-size: 1rem;
  font-family: var(--font-family, 'Inter', Arial, sans-serif);
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(75, 140, 90, 0.8);
}
