.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('../assets/background-main.png') no-repeat center center fixed;
  background-size: cover;
}

.main-content {
  flex: 1;
  padding-top: calc(
    56px + env(safe-area-inset-top, 0px)
  ); /* Header 높이 고려 */
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}
